body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #020617;
    width: 300px;
    color: white;
}

h1 {
    text-align: center;
    padding: 0px;
    margin: 10px 0px 5px 0px;

}

.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-container, .button-container {
    text-align: center;
    margin: 10px 10px 7.5px 10px !important;
}

.search-container, .button-container, .name-container, .work-container, .textAdd-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container label, .name-container label {
    font-size: 14px;
    font-weight: bolder;
}

.work-container {
    gap: 10px;
    margin: 5px 5px 10px 5px ;
}

.work-container p {
    font-size: 14px;
    font-weight: bolder;
    margin: 0px;

}
.work-container span {
    font-size: 14px;
}

.name-container span {
    font-size: 14px;
    margin-left: 2.5px;
}

.work-day, .work-month {
    display: flex;
    gap: 4.5px;
    
}

.textAdd-container {
    margin-bottom: 10px;
}

.textAdd-container label {
    font-size: 14px;
    font-weight: bolder;
    margin-right: 5px;
}

.textAdd-container input {
    padding: 10px;
    border-radius: 8px;
    background-color: #292929;
    font-size: 12px;
    color: white;
    border: none;

}

#toggleSwitch {
    margin: 3px;
}


#searchInput {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    background-color: #292929;
    font-size: 12px;
    color: white;
    border: none;
    margin-bottom: 10px;
}
#searchInput::placeholder {
    color: lightgrey;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}


#results {
    max-width: 80%;
    margin: 0 auto;
}

.region-block {
    background: #2a2b2e;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.region-block h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: white;
}

.region-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.region-block li {
    padding: 5px 0;
    color: lightgray;
}

.region-block li:last-child {
    border-bottom: none;
}

mark {
    background: #ffeb3b;
    padding: 0 2px;
    border-radius: 3px;
}

.no-results {
    text-align: center;
    color: #999;
    font-style: italic;
}
